Deel4Oefening1.UI/Connected Services/ServiceReference1/Deel4Oefening1.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Deel4Oefening1.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Deel4Oefening1.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoete">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Boete" nillable="true" type="tns:Boete" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoete" nillable="true" type="tns:ArrayOfBoete" />
  <xs:complexType name="Boete">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bedrag" type="xs:decimal" />
      <xs:element minOccurs="0" name="Betalingsnr" type="xs:int" />
      <xs:element minOccurs="0" name="Datum" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Spelersnr" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Boete" nillable="true" type="tns:Boete" />
</xs:schema>