Deel4Oefening1.UI/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Deel4Oefening1.Service" />
  <xs:element name="GetBoetes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoetesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Deel4Oefening1.Service" minOccurs="0" name="GetBoetesResult" nillable="true" type="q1:ArrayOfBoete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="betalingsnr" type="xs:int" />
        <xs:element minOccurs="0" name="spelersnr" type="xs:int" />
        <xs:element minOccurs="0" name="datum" type="xs:dateTime" />
        <xs:element minOccurs="0" name="bedrag" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBoeteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>